[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "extern/PYB11Generator"]
	path = extern/PYB11Generator
	url = https://github.com/LLNL/PYB11Generator.git
